@import "tailwindcss";

@theme {
  --color-bg-light: #F8FAF8;
  --color-bg-grid: #F4F7F4;
  --color-border-theme: #E0E7E0;
  --color-text-main: #2D3436;
}

@layer base {
  body {
    @apply bg-bg-light text-text-main font-sans antialiased;
  }
}
